


<div class="d-flex justify-content-end">
  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item p-2">
          <a routerLink="home" class="nav-link btn btn-primary me-3 p-2">Home</a>
        </li>
        <li class="nav-item p-2">
          <a routerLink="about" class="nav-link btn btn-primary me-3 p-2">aboutus </a>
        </li>
        <li class="nav-item p-2">
          <a  class="nav-link btn btn-primary me-3 p-2">Customer orders</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link btn btn-primary me-3 p-2">Order details </a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link btn btn-primary me-3 p-2">Instructions</a>
        </li>
        <li class="nav-item p-2">
          <a  class="nav-link btn btn-primary me-3 p-2">Logout </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>

<!-- <button class="btn btn-primary">Primary</button> -->
