<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Home</h1>
      <p>
        Welcome to the Home page. Here, you can view and manage your orders with
        ease. Our platform provides a user-friendly interface for browsing
        through your orders, checking order status, and making any necessary
        modifications.
      </p>
      <p>
        Whether you're a new customer or a returning one, we strive to ensure a
        seamless experience in managing your orders. With our intuitive design
        and efficient features, you can quickly find the information you need
        and take action on your orders without hassle.
      </p>
      <p>
        From placing new orders to tracking deliveries, our Orders page empowers
        you to stay in control of your purchases. We understand the importance
        of timely and accurate order management, which is why we've designed our
        platform to streamline the process and minimize any potential
        challenges.
      </p>
      <a class="btn btn-primary me-3 p-2" routerLink="orders">Customer orders</a>
      <p>For More details </p>
    </div>
  </div>
</div>
